<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/forgot-password.css">
</head>

<body>
    <div class="forgot-container">
        <h2>Forgot Password</h2>
        <p>Enter your email to reset your password.</p>
        <form id="forgotPasswordForm">
            <div class="input-group">
                <label for="forgot-email">Email</label>
                <input type="email" id="forgot-email" name="email" placeholder="Enter your email" required>
            </div>

            <button type="submit" class="forgot-btn">Send Reset Link</button>
        </form>
        <p id="forgot-message" class="alert"></p>
        <div class="extra-options">
            <p><a href="login.html">Back to Login</a></p>
        </div>
    </div>
    <script src="../static/js/forgot-password.js"></script>
</body>

</html>
